<footer class="site-footer clearfix" role="contentinfo">

<div class="site-footer--secondary">
  <ul class="site-footer--icons list-inline">
    <li class="site-footer--icons__item">
      <a class="site-footer--icons__anchor site-footer--icons__icon site-footer--icons__twitter" href="https://twitter.com/hu_anth">
        {% include icons/twitter.svg %}
      </a>
    </li>
    <li class="site-footer--icons__item">
      <a class="site-footer--icons__anchor site-footer--icons__icon site-footer--icons__github" href="https://github.com/anthonyhu">
        {% include icons/github.svg %}
      </a>
    </li>
  </ul>
</div>

<div class="site-footer--primary clearfix">
  <div class="site-footer--copyright"><small>&copy; {{ site.time | date: "%Y" }} Anthony Hu. All rights reserved.</small></div>
</div>
</footer>


<script>/* <li class="site-footer--icons__item">
      <a class="site-footer--icons__anchor site-footer--icons__icon site-footer--icons__rss" href="/atom.xml" title="Subscribe to my RSS feed">
        {% include icons/rss.svg %}
        <span class="visuallyhidden">RSS Feed</span>
      </a>
    </li>
*/</script>