.page-research {
  div {
    display: table;
  }

  img {
    vertical-align: middle;
    display: table-cell;
    width: 700px;
  }

  span {
    vertical-align: middle;
    display: table-cell;
    width: 300px;

  }
}